pkgbase = xencelabs
	pkgdesc = Driver for the Xencelabs Pen Tablets and Pen Displays
	pkgver = 1.3.2.19
	pkgrel = 1
	url = https://xencelabs.com
	install = xencelabs.install
	arch = x86_64
	license = custom:xencelabs
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-x11extras
	provides = xencelabs
	conflicts = xencelabs-beta
	source = https://www.xencelabs.com/support/file/id/61/type/1
	sha256sums = SKIP

pkgname = xencelabs
